#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: start;
  background-color: rgb(240,240,240);
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  padding: 40px;
  width: 30%;
  background-color: rgba(0,0,0,.2);
}

h1 {
  margin-bottom: 20px;
}

button {
  border: 2px gray center;
  height: 48px;
  width: 48px;
  box-shadow: 1px 1px 3px gray;
}

input {
  margin-right: 10px;
  width: 300px;
  box-shadow: 1px 1px 3px gray;
}